*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}
header{
    display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:aliceblue;
  width: 100%;
  height: 80px;
  align-items: center;
  position:fixed;
 
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
   
}
header ul li a{
    display: flex;
    justify-content: space-between;
    width: 100px;
    color:#333 ;
    font-size: 20px;
}
header ul li a:hover{
    color: blue;
}
.section{
    width: 100%;
    height:620px ;
    display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:aliceblue;
  


}

.section .sec1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 560px;
    padding-top: 100px;
}

.section .sec1 p{
    display: flex;
    justify-content: space-between;
    width: 630px;
    color:#333 ;
    font-size: 20px;
    padding-left: 240px;   
}



.section .sec1 pre {
    padding-left: 240px;
}
.sec1 .secc {
margin-bottom: 160px;
    width: 150px;
    height: 10px;
    padding-left:240px;
}
.sec1 .secc button{
    background-color: orange;
    color: #fff;
    width: 200px;
    height: 60px;
    border: 0px solid#fff;
    border-radius: 10px;
    margin-bottom: 60px;

}




.sec1 .secc p{
    margin-top:-30px ;
    margin-left:-250px;
    font-size: 13px;
   
}   
.sec2{
    width: 50%;
margin-left: 130px;
margin-top: 70px;
}
.sec2 img{
    width: 500px;
    height: 500px;
    margin-top: 40px;
}
.you{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 600px;
     background-color: #fff ;
}
.you .you1 {
    margin-top: 130px;
  margin-left: 300px;
}

.you1 h1{
    text-align: center;
    margin-left: -300px;
}


